<!DOCTYPE html>
<html>
<head>
  <title>Notable</title>
  <%= stylesheet_link_tag    "notable/application", media: "all" %>
  <%= javascript_include_tag "notable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
