<div id="x_note_container">
  <h4>Notes</h4>
  <%= button_to "new", noted.new_note_path(:note => { :notable_id => notable.id, :notable_type => notable.class.table_name.capitalize.singularize}), :remote => true, :method => :get, :format => :js %>
  <div id="x_new_note"></div>
  <ul>
    <% notable.notes.each do |note| %>
        <li><p class="notable_utc_timestamp"><%= note.updated_at %></p><p class="notable_body"><%= note.body %></p></li>
    <% end %>
  </ul>
</div>
